:8051

log {
    access_path ./access.log
    err_path ./error.log
    format
}

timeout {
    read 1s
    write 2s
    keep_alive 5m
}

response {
    pattern /foo/\d+/.*
    body "{\"name\": \"caibirdme\", \"age\": 25, \"some\":[12,3,4]}"
    content_type Application/json
}